---
import Layout from '../layouts/Layout.astro';

// Images
import logo from '/src/assets/img/logo.webp'
import mangoCrema from '/src/assets/img/MangoCrema.webp'
import churroLoco from '/src/assets/img/churroLoco.webp'

---

<Layout title="Snacks Las Girasoles">
	<main class="">
		<header class="bg-alabaster flex justify-evenly p-4 mt-10"> 
			<div class="bg-primary font-semibold text-center min-w-[157px] max-w-10 py-3 px-6 rounded-xl">
				<a href="/menu/">Menu digital</a>
			</div>
			<div class="bg-zafre font-semibold text-white text-center min-w-[157px] max-w-10 py-3 px-6 rounded-xl">
				<a href="/contacto/">Contactanos</a>
			</div>
		</header>
		<div class="mx-4 mt-10 md:mt-20">
			<img class="mx-auto"  src={logo.src} alt="">
		</div>
		<div class="relative overflow-hidden">
			<img class="relative right-40 -bottom-10 xl:h-[600px]" src={mangoCrema.src} alt="">
			<img class="absolute left-2/4 bottom-0 xl:left-3/4 xl:h-[600px]" src={churroLoco.src} alt="">
		</div>
	</main>
</Layout>

