---
import Layout from '../layouts/Layout.astro';

// Images
import logo from '../../src/assets/img/logo.png'
import mangoCrema from '../assets/img/MangoCrema.png'
import churroLoco from '../assets/img/churroLoco.png'

---

<Layout title="Snacks Las Girasoles">
	<main>
		<header class="bg-alabaster flex justify-evenly mt-10 p-4"> 
			<div class="bg-primary font-semibold text-center min-w-[157px] max-w-10 py-3 px-6 rounded-xl">
				<a href="">Menu digital</a>
			</div>
			<div class="bg-primary font-semibold text-center min-w-[157px] max-w-10 py-3 px-6 rounded-xl">
				<a href="">Contactanos</a>
			</div>
		</header>
		<div class="mx-4">
			<img class="mx-auto"  src={logo.src} alt="">
		</div>
		<div class="relative overflow-hidden">
			<img class="relative right-40 -bottom-10" src={mangoCrema.src} alt="">
			<img class="absolute left-2/4 bottom-0 " src={churroLoco.src} alt="">
		</div>
	</main>
</Layout>

