---
import Layout from '../layouts/Layout.astro';

import MainButton from '../components/MainButton.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<header class="bg-alabaster flex justify-evenly mt-10 p-4"> 
			<MainButton text={"Menu digital"}/>
			<MainButton text={"Contactanos"}/>
		</header>
	</main>
</Layout>

