---
    interface Props {
        text: String;
    }

    const {text} = Astro.props
---
<div class="bg-primary font-semibold text-center min-w-[157px] max-w-10 py-3 px-6 rounded-xl">
    <a href="">{text}</a>
</div>

