---
const {titulo, descripcion, precio, img} = Astro.props
---

<div>
    <div>
        <p>{descripcion}</p>
        <p>$ {precio}</p>
    </div>
    <h3>{titulo}</h3>
    <!-- <img src={img} alt=""> -->
</div>