---
import whatsAppLogo from '../assets/icons/whatsapp.svg'
---

<div class="bg-[#26D366] text-white font-semibold text-center min-w-[157px] max-w-10 py-3 px-6 rounded-xl flex gap-2">
    <img class="size-5" src={whatsAppLogo.src} alt="">
    <a href="https://wa.me/526692639645">WhatsApp</a>
</div>